:root {
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Seymour One', sans-serif;
  --number-font: 'Roboto', sans-serif;

  --primary-black-color: #131313;
  --primary-white-color: #fcfcfc;
  --accent-color: #f8d24e;
  --contact-color: #d6936d;
  --shadow-color: #d9d9d9;
  --copyright-color: #7a7a7a;

  --bg-color: #84a178;
  --bg-ice-cream: #aec6a5;
  --bg-ice-coffee: #efd478;
  --bg-milkshakes: #d6936d;

  --btn-disable: #ababab;
  --btn-hover: #0a8817;
}
