<!--* about -->
<body>
  <section class="about">
    <div class="about__container container">
      <p class="about__uppertitle">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>

      <div class="set">
        <div class="set__wrap">
          <div class="set__picture">
            <span class="pic pic-cow"></span>
          </div>
        </div>

        <div class="set__box">
          <p class="set__text">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="set__text set__text--middle">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>
          <p class="set__text set__text--hidden">
            This is enough to choose ice cream and coffee for any mood!
          </p>
          <button class="button about__button" data-modal-open>
            Read more <span class="button__span"> 🐮 </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
