<section class="advantages">
  <div class="advanteges__container container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__name advantages__name--cows">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p class="advantages__name advantages__name--weights">16kg</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p class="advantages__name advantages__name--icecreams">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
