<section class="contacts">
  <div class="container">
    <h1 class="visually-hidden">Contacts and Locations</h1>

    <ul class="contacts-wrapper">
      <li class="contacts-card">
        <p class="contacts-card__title">cafe</p>
        <address>
          <ul>
            <li class="contacts-card__item">
              <p>Chicago</p>
              <a
                href="https://goo.gl/maps/bJ2vC1DHC6Nc3vVY8"
                class="contacts-card___highlighted-element"
              >
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </a>
            </li>

            <li class="contacts-card__item">
              <p>Monday-Friday</p>
              <span class="contacts-card__dimmed-element"
                >06:00 AM - 10:00 PM</span
              >
              <p>Saturday-Sunday</p>
              <span class="contacts-card__dimmed-element"
                >08:00 AM - 16:00 PM</span
              >
            </li>

            <li class="contacts-card__item">
              <a class="contacys-card__element" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacys-card__element" href="mailto:info@devstudio.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__title">foodtruck</p>
        <address>
          <ul>
            <li class="contacts-card__item">
              <p>Los Angeles</p>
              <a
                href="https://goo.gl/maps/uUseQUPELCo5vUBw8"
                class="contacts-card___highlighted-element"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </a>
            </li>

            <li class="contacts-card__item">
              <p>Monday-Friday</p>
              <span class="contacts-card__dimmed-element"
                >06:00 AM - 10:00 PM</span
              >
              <p>Saturday-Sunday</p>
              <span class="contacts-card__dimmed-element"
                >08:00 AM - 16:00 PM</span
              >
            </li>

            <li class="contacts-card__item">
              <a class="contacys-card__element" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacys-card__element" href="mailto:info@devstudio.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__title">Cafe</p>
        <address>
          <ul>
            <li class="contacts-card__item">
              <p>New York</p>
              <a
                href="https://goo.gl/maps/mYCm659ViBcpUzSr6"
                class="contacts-card___highlighted-element"
              >
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </a>
            </li>

            <li class="contacts-card__item">
              <p>Monday-Friday</p>
              <span class="contacts-card__dimmed-element"
                >06:00 AM - 10:00 PM</span
              >
              <p>Saturday-Sunday</p>
              <span class="contacts-card__dimmed-element"
                >08:00 AM - 16:00 PM</span
              >
            </li>

            <li class="contacts-card__item">
              <a class="contacys-card__element" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacys-card__element" href="mailto:info@devstudio.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>

    <div class="contacts-buttons">
      <button class="contacts-button button">
        Our Locations
        <svg width="12px" height="12px">
          <use href="icons/icons.svg#ahead"></use>
        </svg>
      </button>
      <button class="contacts-button bordered-button">
        Franchise
        <svg width="12px" height="12px">
          <use href="icons/icons.svg#ahead"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
