<section class="customers">
  <div class="customers__container container">
    <h2 class="customers__title visually-hidden">Reviews</h2>
    <div class="customers__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="customers__image"
            srcset="
              ./images/customer_reviews/customer_01-min.jpg    1x,
              ./images/customer_reviews/customer_01@2x-min.jpg 2x
            "
            src="./images/customer_reviews/customer_01-min.jpg"
            alt="Покупець"
          />
          <p class="customers__description">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="customers__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
