<section class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <p class="footer-title">
        Homemade ice cream made
        <span class="footer-title-accent">with passion</span>
      </p>

      <div class="footer-contacts">
        <ul class="socials">
          <li>
            <a href="#" class="socials-link">
              <svg class="socials-icon">
                <use href="icons/icons.svg#git-hub"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="#" class="socials-link">
              <svg class="socials-icon">
                <use href="icons/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="#" class="socials-link">
              <svg class="socials-icon">
                <use href="icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer-contacts-number">
          Feel free to contact
          <a href="tel:+61038766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>

    <p class="copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</section>
