<section class="gallery__section">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <div class="gallery__swiper swiper swiper_02">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_d-min.png    1x,
                ./images/customer_reviews/lots_ice-cream_d@2x-min.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_t-min.png    1x,
                ./images/customer_reviews/lots_ice-cream_t@2x-min.png 2x
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_m-min.png    1x,
                ./images/customer_reviews/lots_ice-cream_m@2x-min.png 2x
              "
              media="(max-width:319px)"
            />
            <img
              class="gallery__img"
              src="images/customer_reviews/lots_ice-cream_m-min.png"
              alt="Багато морозива"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_03_1013@2x-min.jpg
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_03_704@2x-min.jpg
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_03_279@2x-min.jpg
              "
              media="(max-width:319px)"
            />
            <img
              class="gallery__img"
              src="./images/customer_reviews/lots_ice-cream_03_279@2x-min.jpg"
              alt="Багато морозива"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_02_1013@2x-min.jpg
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_02_704@2x-min.jpg
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/customer_reviews/lots_ice-cream_02_279@2x-min.jpg
              "
              media="(max-width:319px)"
            />
            <img
              class="gallery__img"
              src="./images/customer_reviews/lots_ice-cream_02_279@2x-min.jpg"
              alt="Багато морозива"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
