<header class="header">
    <div class="header-container container">
        <a class="header__logo" href="#">
            <img src="./images/header_hero/logo_m-min.png" alt="logo">
        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item" id="home">
                    <a href="#home" class="header-nav__link">Home</a>
                </li>
                <li class="header-nav__item">
                    <a href="#how-its-made" class="header-nav__link">How it's made?</a>
                </li>
                <li class="header-nav__item">
                    <a href="#our-products" class="header-nav__link">Our products</a>
                </li>
                <li class="header-nav__item">
                    <a href="#contact" class="header-nav__link">Contacts</a>
                </li>
            </ul>
        </nav>
        <button class="header__btn button" type="button">Buy now</button>
    </div>
</header>