<header class="header">
    <div class="header-container container">
        <a class="header__logo" href="#" aria-label="logo">
            <!-- добавить svg и через медиа поменять размер, она векторная и не изменит качества -->
            <img 
            class="logo-img" 
            srcset=
            "./images/header_hero/logo_m-min.png 41w,
            ./images/header_hero/logo_m@2x-min.png 81w,
            ./images/header_hero/logo_t-min.png 48w,
            ./images/header_hero/logo_t@2x-min.png 96w,
            ./images/header_hero/logo_d-min.png 60w,
            ./images/header_hero/logo_d@2x-min.png 120w"

            sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 320px) 41px, 100vw"
            src="./images/header_hero/logo_m-min.png" 
            alt="logo">
        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item" id="home">
                    <a href="#home" class="header-nav__link">Home</a>
                </li>
                <li class="header-nav__item">
                    <a href="#how-its-made" class="header-nav__link">How it's made?</a>
                </li>
                <li class="header-nav__item">
                    <a href="#our-products" class="header-nav__link">Our products</a>
                </li>
                <li class="header-nav__item">
                    <a href="#contact" class="header-nav__link">Contacts</a>
                </li>
            </ul>
        </nav>
        <button class="header__btn" type="button">Buy now</button>

        <button class="menu__btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="menu__icon" width="32" height="32">
                <use href="./icons/icons.svg#menu"></use>
            </svg>
        </button>
    </div>
</header>
<section class="hero">
    <div class="hero-container container">
        <h1 class="hero__title">ice cream <br> made with <br>
        <span class="hero__passion">passion</span></h1>
        <ul class="hero__wrap">
            <li class="hero__item hero__item--btn"><a class="hero__link hero__link--rct" href="#products">Products</a></li>
            <li class="hero__item"><a class="hero__link hero__link--ul" href="#how-its-made">How it's made?</a></li>
        </ul>
        

        <img 
        class="dots__img dots__img--left" 
        srcset=
        "./images/header_hero/bg-dots_m_left-min.png ,
        ./images/header_hero/bg-dots_m_left@2x-min.png"
        sizes="(-width: 1200px; )"
        src="./images/header_hero/bg-dots_m_left-min.png" 
        alt="dots">
        <img class="dots__img dots__img--right"
        srcset=
        "./images/header_hero/bg-dots_m_right-min.png ,
        ./images/header_hero/bg-dots_m_right@2x-min.png"
        sizes="(min-width: 1200px; )"
        src="./images/header_hero/bg-dots_m-min.png" 
        alt="dots">
        <!-- <img class="icecream-img" src="./images/header_hero/ice-cream_m-min.png" alt="ice-cream"> -->
        
    </div>
    
</section>

<!-- <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu__btn js-close-menu">
        <svg class="menu__icon" width="32" height="32">
            <use href="./icons/icons.svg#close-menu"></use>
        </svg>
    </button>
    <ul class="mobile__menu">
        <li><a href="#" class="link">Home</a></li>
        <li><a href="#" class="link">How it's made?</a></li>
        <li><a href="#" class="link">Our products</a></li>
        <li><a href="#" class="link">Contacts</a></li>
        <button class="" type="button">Buy now</button>
    </ul>
</div> -->


