<div class="modal locations" data-modal="5">
  <div class="modal-container locations__container">
    <button class="close-button js-modal-close">
      <svg width="20px" height="20px">
        <use href="icons/icons.svg#close-mini"></use>
      </svg>
    </button>
    <h3 class="locations__title">Our Locations</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793119616134!2d-87.78192918456439!3d41.703401579236406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sat!4v1665399664557!5m2!1suk!2sat"
      class="location__map"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      href="https://goo.gl/maps/VvorGNKhjHDAPbrU7"
      class="location__button button"
      target="_blank"
      >Open map</a
    >
  </div>
</div>
