<!-- MODALS TEMPLATE -->

<!-- Put the class js-open-modal on your button;

  Put data attribute data-modal="NUMBER OF YOUR MODAL"-->

<!-- EXAMPLE!!!:
<button class="js-open-modal button" data-modal="1">Our Locations</button> -->

<!-- 
  Put the additional class to modal-container to 
  modify your own section modal styles 
  (to change width, height, structure, paddings etc.);

  Put the data attribute to div with class modal 
  data-modal="NUMBER OF YOUR MODAL" accordingly  -->

<div class="modal" data-modal="1">
  <div class="modal-container">
    <button class="close-button js-modal-close">
      <svg width="20px" height="20px">
        <use href="icons/icons.svg#close-mini"></use>
      </svg>
    </button>
    <p>YOUR CONTENT</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt
      quaerat optio quibusdam doloremque voluptate. Id excepturi dolorum
      tempora? Vero, quasi similique. Voluptates in voluptatibus amet autem
      tenetur, dignissimos quidem.
    </p>
  </div>
</div>

<div class="overlay js-overlay-modal"></div>

<!--============================================ header =========================================================-->

<div class="modal" data-modal="1">
  <div class="modal-container header-modal">
    <button class="close-button js-modal-close">
      <svg width="20px" height="20px">
        <use href="icons/icons.svg#close-mini"></use>
      </svg>
    </button>
    <p>YOUR CONTENT</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt
      quaerat optio quibusdam doloremque voluptate. Id excepturi dolorum
      tempora? Vero, quasi similique. Voluptates in voluptatibus amet autem
      tenetur, dignissimos quidem.
    </p>
  </div>
</div>