<section class="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--green">
        <div class="products__text-container products__text-container--small">
          <h3 class="products__heading">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <div class="products__btn-container">
          <button class="products__btn" type="button">
            <svg class="products__arrow-icon products__arrow-icon--calm">
              <use href="./icons/icons.svg#arrow"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--hover">
              <use href="./icons/icons.svg#arrow-hover"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--focus">
              <use href="./icons/icons.svg#arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--yellow">
        <div class="products__text-container">
          <h3 class="products__heading">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <div class="products__btn-container">
          <button class="products__btn" type="button">
            <svg class="products__arrow-icon products__arrow-icon--calm">
              <use href="./icons/icons.svg#arrow"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--hover">
              <use href="./icons/icons.svg#arrow-hover"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--focus">
              <use href="./icons/icons.svg#arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--red">
        <div class="products__text-container">
          <h3 class="products__heading">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <div class="products__btn-container">
          <button class="products__btn" type="button">
            <svg class="products__arrow-icon products__arrow-icon--calm">
              <use href="./icons/icons.svg#arrow"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--hover">
              <use href="./icons/icons.svg#arrow-hover"></use>
            </svg>
            <svg class="products__arrow-icon products__arrow-icon--focus">
              <use href="./icons/icons.svg#arrow-focus"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
