.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-radius: 50%;
  width: 22px;
  height: 22px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.modal {
  max-height: 100vh;
  overflow: auto;

  opacity: 0;
  visibility: hidden;

  position: fixed;
  width: 100%;
  padding: 0 20px;

  top: 50%;
  left: 50%;
  z-index: 100;

  transform: translateY(-100%) scale(0.5);

  transition: opacity var(--animation), transform var(--animation);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 608px;
  }
}

.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 28px;

  border-radius: 10px;
  background: var(--primary-white-color);
  border: 2px solid var(--accent-color);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
