.top-btn {
    z-index: 200;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    bottom: 100px;
    width: 60px;
    height: 60px;
    border-color: transparent;
    border-radius: 50%;
    background-color: var(--accent-color);
    opacity: 0.5;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        opacity: 1;
    }
    @media screen and (max-width: 479px) {
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 50px;
    }
}

.top-btn {
    font-family: var(--title-font);
    color: var(--btn-hover);
    text-align: center;
    @media screen and (max-width: 479px) {
        font-size: 10px;
    }
}