.about {
  padding-top: 60px;
  background-color: var(--bg-color);
  padding-bottom: 30px;
}

.about__uppertitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 800;
    font-size: 30px;
  }
}

.about__title {
  margin-top: 12px;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
  }
}

.set__text {
  margin-top: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.9;
  color: var(--primary-white-color);
  @media screen and (min-width: 768px) {
    margin-top: 79px;
    font-size: 12px;
    line-height: 1.9;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 172px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.button__span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.set {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 100px;
    margin-right: 105px;
  }
}

.set__text--middle,
.set__text--hidden {
  margin-top: 4px;
  @media screen and (mix-width: 768px) {
    margin-top: 8px;
  }
}

.set__text--hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about__button {
  @media screen and (max-width: 767px) {
    margin: 20px auto 0 auto;
  }
  @media screen and (min-width: 768px) {
    margin-top: 48px;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.set__wrap {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-top: 72px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 82px;
  }
}

.set__picture {
  position: relative;
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    var(--shadow-color);
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
  @media screen and (min-width: 768px) {
    border-radius: 166px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 250px;
  }
}

.set__img {
  position: relative;
  top: 22px;
  left: 0;

  display: inline-flex;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    top: 26px;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    top: 39px;
  }
}

.set__img.set__bg {
  // Mobile screen
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/production/cow_m-min.png);
  // retina mobile screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/production/cow_m@2x-min.png);
  }

  // Tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/production/cow_t-min.png);
    // retina tablet screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/production/cow_t@2x-min.png);
    }
  }

  // Desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/production/cow_d-min.png);
    // retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/production/cow_d@2x-min.png);
    }
  }
}
