.contacts {
  background: linear-gradient(rgba(255, 255, 255, 0.016) 22.3%, #84a178 22.3%);
  padding-bottom: 40px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    bottom: 300px;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 100px;
    gap: 32px;
  }
}

.contacts-card {
  max-width: 280px;
  padding: 40px 32px;
  background-color: var(--primary-white-color);
  border-radius: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 224px;
    padding: 40px 24px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 368px;
    padding: 40px;
  }
}

.contacts-card__item {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--btn-disable);

  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 4%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    padding: 32px 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 32px 0;
  }
}

.contacts-card__title {
  width: fit-content;
  padding: 0 22px;

  background-color: var(--accent-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 4%;
  text-transform: uppercase;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 13px;
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 16px;
    font-size: 16px;
  }
}

.contacts-card__dimmed-element {
  display: block;
  color: var(--copyright-color);

  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 12px;
    }
  }
}

.contacys-card__element {
  display: block;
}

.contacts-card___highlighted-element {
  display: block;
  margin-top: 8px;
  color: var(--contact-color);

  transition: text-decoration var(--animation);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 12px;
  }

  &:hover {
    text-decoration: underline;
    color: var(--contact-color);
  }
}

.contacts-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 64px;
    flex-direction: row;
  }
}

.contacts-button {
  min-width: 200px;
}
