.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    z-index: 4;

    @media screen and (min-width: 768px) {
        padding-top: 20px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 8px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1199px){
        justify-content: start;
    }
}

.logo {
    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-right: auto;
    }
}

.header__list {
    display: flex;
    gap: 27px;

    @media screen and (max-width: 1199px){
        display: none;
    }
}

.header__link {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary-white-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
        content: '';
        position: absolute;
        top: 60px;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: var(--accent-color);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    
    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
// a::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     border-radius: 4px;
//     background-color: #18272F;
//     bottom: 0;
//     left: 0;
//     transform-origin: right;
//     transform: scaleX(0);
//     transition: transform .3s ease-in-out;
// }

// a:hover::before {
//     transform-origin: left;
//     transform: scaleX(1);
// }

.header-btn { 
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        order: 3;
        margin-left: 32px;
    }
}